{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
	<li><span class="glyphicon glyphicon-home"></span></li>
	<li><a href="{% url "idgo_admin:update_account" %}">Mes informations de profil</a></li>
	<li class="active">Supprimer mon compte</li>
</ol>
{% endblock breadcrumb_content %}

{% block main_content %}
<div class="well">
	<form method="post" action="">
		{% csrf_token %}
		<h2 class="modal-title">Êtes-vous absolument sûr ?</h2>
		<br/>
		<p>Vous êtes sur le point de supprimer votre compte.</p>
		<p>Cette action est irreversible et supprimera <strong>définitivement</strong> votre compte.</p>
		<p>Pour confirmer, veuillez réécrire votre identifiant de connexion ainsi que votre mot de passe.</p>
		<div class="row">
			<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
				{% bootstrap_field uform.username show_label=False %}
				{% bootstrap_field uform.password show_label=False %}
			</div>
		</div>
		<div class="buttons-on-the-right-side">
			<a class="btn btn-default" href="{% url "idgo_admin:update_account" %}">Annuler</a>
			<button type="submit" class="btn btn-danger">Supprimer définitivement mon compte</button>
		</div>
	</form>
</div>
{% endblock main_content %}
