{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}

{% block header %}{% endblock header %}
{% block nav %}{% endblock nav %}
{% block main %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<h1>Initialisation du mot de passe</h1>
			<br/>
			<form method="post" action="">
				{% csrf_token %}
				{% bootstrap_field form.username %}
				<p>Entrez le mot de passe ci-dessous pour afin d'initialiser le compte utilisateur.</p>
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						{% bootstrap_field form.password1 show_label=False %}
					</div>
					<div class="col-xs-12 col-sm-12">
						{% bootstrap_field form.password2 show_label=False %}
					</div>
				</div>
				<div class="buttons-on-the-right-side">
					<a class="btn btn-default" href="{% url "server_cas:signIn" %}">Annuler</a>
					<button type="submit" class="btn btn-primary">Valider</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock main %}
