{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block header %}{% endblock header %}
{% block nav %}{% endblock nav %}
{% block breadcrumb %}{% endblock breadcrumb %}
{% block main %}
<div class="outer">
	<div class="v-middle">
		<div class="h-middle container-signup">
			<div class="panel">
				<div class="panel-heading">
					<img src="{% static "img/logo_datasud.png" %}" style="height: 60px;"></img>
					<h3>Réinitialiser votre mot de passe</h3>
				</div>
				<div class="panel-body">
					<form method="post" action="">
						{% csrf_token %}
						<div class="row">
							<div class="col-xs-8 col-sm-7 col-md-6 col-lg-6">
								{% bootstrap_field form.username %}
							</div>
						</div>
						<p>Entrez le nouveau mot de passe ci-dessous.</p>
						<div class="row">
							<div class="col-xs-8 col-sm-7 col-md-6 col-lg-6">
								{% bootstrap_field form.password1 show_label=False %}
								{% bootstrap_field form.password2 show_label=False %}
							</div>
						</div>
						<div class="buttons-on-the-right-side">
							<a class="btn btn-default" href="{% url "server_cas:signIn" %}">Annuler</a>
							<button type="submit" class="btn btn-primary">Valider</button>
						</div>
					</form>
				</div>
			</div>
			<small>{% include "idgo_admin/copyright.html" %}</small>
		</div>
	</div>
</div>
{% endblock main %}
{% block footer %}{% endblock footer %}
